.fixturesTable {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 0px 50px;
  width: 80%;
}

.fixtureContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 80%; */
  padding: 20px 0px 20px 0px;
  border-top: 1px solid grey;
}

.teamFixtureDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.teamlogo {
  height: 100px;
  width: auto;
}

.fixtureGeneralDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.score {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
