.fixturesTable {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
  width: 100%;
}

.fixtureContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teamFixtureDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.teamlogo {
  height: 100px;
  width: auto;
}

.fixtureGeneralDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}
