.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 320px;
}

.headerDetails {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.singleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  width: 320px;
  /* background-color: gainsboro; */
  border-bottom: 1px solid black;
}

.nameLogo {
  display: flex;
  align-items: center;
}

.logo {
  height: 20px;
}

.teamStats {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
