.playerDetails {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  box-sizing: border-box;
}

.playerName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  width: 100%;
  font-size: 50px;
  /* background-color: grey; */
}

.teamlogo {
  height: 100px;
}

.playerContent {
  display: flex;
  flex-direction: row;
  padding: 60px 0px 0px 0px;
}

.playerPhoto {
  height: 300px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.contentContainers {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
}

.playerHighlights {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px 10px 30px 10px;
}

.boxHighlight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.21);
  height: 100px;
  width: 100%;
  border-radius: 15px;
  padding: 10px 10px 5px 10px;
}

.boxCategory {
  font-size: 16px;
}

.boxData {
  font-size: 50px;
  font-weight: bold;
  padding: 0px 0px 0px 25px;
}

.allData {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 10px;
}

.positionData,
.baseData {
  border: 1px solid lightgray;
  border-radius: 15px;
  width: 50%;
  height: auto;
}

.positionName,
.baseDetails {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #38003c;
  color: #ffffff;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 16px;
  border-top: 1px solid lightgray;
}

/* .baseData {
  background-color: aquamarine;
  width: 50%;
} */
