.clubbarContainer {
  display: flex;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
}

.clubbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.clubLogo {
  height: 45px;
  transition: transform 0.3s ease-out;
}

.clubLogo:hover {
  transform: translateY(-5px);
  /* outline: 3px solid #007bff; */
  box-shadow: 0 0 10px 3px #38003c;
}
