.clubbarContainer {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
}

.clubbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.clubLogo {
  height: 50px;
}
