main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

.body {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: column;
}
.searchdisplay {
  display: flex;
  flex-direction: row;
}

.pcard {
  display: flex;
  flex-direction: row;
  /* height: 50px; */
  /* width: 100px; */
  border: solid 1px grey;
}

.pcard img {
  max-width: 30%;
  height: auto;
  /* display: block; */
}
