main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

.body {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: column;
}
.searchdisplay {
  display: flex;
  flex-direction: row;
}

.pcard {
  /* height: 50px; */
  /* width: 100px; */
  border: solid 1px grey;
}

.pcard img {
  max-width: 100%; /* Ensures the image doesn't overflow its container */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes extra space below the image */
  margin-bottom: 5px; /* Adds a little space below the image */
}
